openapi: 3.0.0
info:
  title: CMS Backend API
  version: '4.0'
  description: Provider CMS Backend communication API
  license:
    name: neux-garden
servers:
  - url: 'https://cms.decoder.com.tw'
paths:
  '/Gallery/{categoryID}':
    get:
      summary: GetGallery
      tags:
        - Gallery
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-gallery
      description: 顯示該目錄底下的媒體清單，預設排序時間新到舊
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: number
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
          in: query
          name: fileType
          description: 副檔名篩選
        - schema:
            type: string
          in: query
          name: fileName
          description: 檔名篩選，模糊搜尋
    parameters:
      - schema:
          type: string
        name: categoryID
        in: path
        required: true
    post:
      summary: CreateGallery
      operationId: post-Gallery-categoryID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
      description: 新增一筆媒體庫資料與檔案
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
      requestBody:
        content:
          multipart/form-data:
            schema:
              description: Form data格式
        description: >-
          用formData型式傳入

          file:媒體庫檔案(filename max length:300)，要擋副檔名只能有png / jpg / jpeg / gif /
          pdf / xls / xlsx / doc / docx(建議挖成extension)

          description:檔案描述(Max length:300)
      tags:
        - Gallery
  /GalleryCategory:
    get:
      summary: GetGalleryCategory
      tags:
        - Gallery
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryCaregoryGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-GalleryCategory
      description: 顯示該使用者可看到哪些媒體庫目錄
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
    parameters: []
    post:
      summary: CreateGalleryCategory
      operationId: post-GalleryCategory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 建立媒體庫目錄
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryCategoryPutRequest'
        description: ''
      tags:
        - Gallery
  /Login:
    post:
      summary: Login
      operationId: post-Login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      tags:
        - Authorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
      description: 登入CMS
    parameters: []
  /Department:
    get:
      summary: GetDepartment
      tags:
        - System
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Dept
      description: 顯示所有部門樹狀結構
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          required: true
          description: application/json
    parameters: []
  '/GalleryCategory/{categoryID}':
    parameters:
      - schema:
          type: string
        name: categoryID
        in: path
        description: ''
        required: true
    delete:
      summary: DeleteGalleryCategory
      operationId: delete-GalleryCategory-categoryID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - Gallery
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
      description: 刪除媒體目錄
    put:
      summary: UpdateGalleryCategory
      operationId: put-GalleryCategory-categoryID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - Gallery
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryCategoryPutRequest'
        description: ''
      description: 用於更新目錄名稱/移動父層使用
  /UserMenu:
    get:
      summary: GetLoginUserCMSMenu
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-UserMenu
      description: 取得User登入可存取的CMSMenu
      tags:
        - Menu
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
    parameters: []
  /Logout:
    get:
      summary: Logout
      tags:
        - Authorization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      operationId: get-Logout
      description: 登出CMS
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
  '/Department/{deptID}':
    parameters:
      - schema:
          type: string
        name: deptID
        in: path
        required: true
    put:
      summary: UpdateDepartment
      operationId: put-Department-deptID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 更新部門節點
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentMaintainRequest'
      tags:
        - System
    delete:
      summary: DeleteDepartment
      operationId: delete-Department-deptID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 刪除部門節點
      tags:
        - System
    post:
      summary: CreateDepartment
      operationId: post-Department-deptID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 顯示所有部門樹狀結構
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentMaintainRequest'
      tags:
        - System
    get:
      summary: GetDepartmentInfo
      operationId: get-Department-deptID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentDetailInfo'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - System
      description: 取得部門節點
  /Auditing:
    get:
      summary: GetAuditingList
      tags:
        - Auditing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditingGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Auditing
      description: 取得主管待審清單
      parameters:
        - schema:
            type: number
            default: 1
            minimum: 1
          in: query
          name: page
          description: 沒有傳入預設就是1
    parameters: []
  '/Auditing/{orderID}':
    parameters:
      - schema:
          type: number
        name: orderID
        in: path
        required: true
        description: ''
    post:
      summary: ApproveAuditing
      operationId: post-Auditing-orderID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 主管簽核
      tags:
        - Auditing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditingSubmitRequest'
  /LoginInfo:
    get:
      summary: GetLoginInfo
      tags:
        - Authorization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-LoginInfo
      description: 取得登入者資料
  /CMSMenu:
    get:
      summary: GetCMSAllMenu
      tags:
        - Menu
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuGetResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-CMSMenu
      description: 取得CMS所有功能清單
  '/UserSiteMap/{siteID}':
    get:
      summary: GetUserSiteMap
      tags:
        - SiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteMapGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-UserSiteMap
      description: 取得登入者可存取SiteMap
    post:
      summary: CreateSiteNode
      operationId: post-UserSiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - SiteMap
      description: 建立節點
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSiteMapPostRequest'
        description: ''
    parameters:
      - schema:
          type: string
        name: siteID
        in: path
        required: true
        description: 網站代碼
  '/UserSiteMap/{nodeID}':
    put:
      summary: UpdateUserSiteMap
      operationId: put-UserSiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 更新節點
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSiteMapPutRequest'
      tags:
        - SiteMap
    parameters:
      - schema:
          type: string
        name: nodeID
        in: path
        required: true
    delete:
      summary: DeleteUserSiteMap
      operationId: delete-UserSiteMap-nodeID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - SiteMap
  '/Content/{id}':
    get:
      summary: GetContent
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Content
      description: 取得該頁面的Content JSON
      parameters:
        - schema:
            type: number
          in: query
          name: version
          description: 版本，不給則取最新的
    put:
      summary: UpdateContent
      operationId: put-Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentInfo'
      description: 更新Content JSON資料
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
  '/SitemapContent/{siteId}/{nodeId}':
    get:
      summary: GetSitemapContent
      tags:
        - Content
        - SiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: getSitemapContent
      description: 若頁面未處於lock狀態，回傳該頁面的Content JSON，並設定為lock狀態
      parameters: []
    parameters:
      - schema:
          type: string
        name: siteId
        in: path
        required: true
        description: 網站ID
      - schema:
          type: string
        name: nodeId
        in: path
        required: true
        description: 節點ID
  '/MyAuditing/{orderID}':
    get:
      summary: GetMyAuditingDetail
      tags:
        - Auditing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyAuditingDetailGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-MyAuditingDetail
      description: 取得我的申請單明細資料
    parameters:
      - schema:
          type: string
        name: orderID
        in: path
        required: true
  /MyAuditing:
    get:
      summary: GetMyAuditing
      tags:
        - Auditing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyAuditingGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-MyAuditing
      description: 取得我的申請單資料
      parameters:
        - schema:
            type: number
          in: query
          name: page
          description: 沒有傳入預設帶入1
  '/Farm/{funcID}':
    get:
      summary: GetFarmInfo
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmInfoGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Farm
      description: 客製化網站管理取得整頁資訊
      parameters:
        - schema:
            type: string
          in: query
          name: dataID
          description: 帶入TableDataInfo.data_id
        - schema:
            type: string
          in: query
          name: parentID
          description: 帶入當下的CategoryID
    parameters:
      - schema:
          type: string
        name: funcID
        in: path
        required: true
        description: 功能代碼
  '/FarmTableInfo/{funcID}':
    get:
      summary: GetFarmTableInfo
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmTableInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-FarmTableInfo
      description: 點了換頁或搜尋時呼叫
      parameters:
        - schema:
            type: number
          in: query
          name: page
          description: 第幾頁
    parameters:
      - schema:
          type: string
        name: funcID
        in: path
        required: true
        description: 功能代碼
  '/FarmFormInfo/{funcID}':
    get:
      summary: GetFarmFormInfo
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmFormInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-FarmFormInfo
      description: 新增/修改時呼叫
      parameters:
        - schema:
            type: string
          in: query
          name: dataID
          description: 帶入TableDataInfo.data_id
    parameters:
      - schema:
          type: string
        name: funcID
        in: path
        required: true
        description: 功能代碼
    post:
      summary: CreateFarmForm
      operationId: post-FarmFormInfo-funcID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - Farm
      description: 建立一筆網站管理資料
      parameters:
        - schema:
            type: string
            example: ''
          in: header
          name: content-type
          description: multipart/form-data
          required: true
    put:
      summary: UpdateFarmForm
      operationId: put-FarmFormInfo-funcID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - Farm
      description: 更新網站管理一筆資料
      parameters:
        - schema:
            type: string
          in: query
          name: dataID
          required: true
          description: 帶入TableDataInfo.data_id
        - schema:
            type: string
            example: ''
          in: header
          name: content-type
          required: true
          description: multipart/form-data
  '/FarmAuditing/{funcId}':
    post:
      summary: AuditingFarmData
      operationId: post-FarmAuditing-funcID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - Farm
      description: 網站管理資料送審
      parameters:
        - schema:
            type: string
            example: ''
          in: header
          name: content-type
          description: multipart/form-data
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarmAuditingRequest'
    parameters:
      - schema:
          type: string
        name: funcId
        in: path
        required: true
        description: 功能ID
  '/FarmDetailInfo/{funcID}':
    get:
      summary: GetFarmDetailInfo
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmFormInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-FarmDetailInfo
      description: 取得某筆資料明細
      parameters:
        - schema:
            type: string
          in: query
          name: dataID
          required: true
          description: 帶入TableDataInfo.data_id
    parameters:
      - schema:
          type: string
        name: funcID
        in: path
        required: true
        description: 功能代碼
  '/FarmPreview/{funcID}':
    get:
      summary: GetFarmPreview
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-FarmPreview
      description: 取得某筆資料預覽畫面，分欄位式或整頁預覽
      parameters:
        - schema:
            type: string
          in: query
          name: dataID
          required: true
          description: 帶入TableDataInfo.data_id
    parameters:
      - schema:
          type: string
        name: funcID
        in: path
        required: true
        description: 功能代碼
  '/Gallery/Show/{galleryID}':
    get:
      summary: GetGalleryShow
      tags:
        - Gallery
      responses:
        '200':
          description: OK
          headers: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Gallery-Show
      description: 顯示媒體庫檔案(圖片的話直接將這個網址放入img src內，檔案的話另開視窗)
    parameters:
      - schema:
          type: string
        name: galleryID
        in: path
        required: true
  /Site:
    get:
      summary: GetSiteList
      tags:
        - SiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Sites
      description: 取得多個網站清單
  '/Site/{siteID}':
    get:
      summary: GetSiteMap
      tags:
        - SiteMap
      operationId: get-SiteMap
      description: 取得全站SiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteMapGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
    parameters:
      - schema:
          type: string
        name: siteID
        in: path
        required: true
        description: 網站代碼
  '/Site/{siteID}/{nodeID}':
    get:
      summary: GetSiteNode
      tags:
        - SiteMap
      operationId: get-SiteNode
      description: 取得特定site中的特定node資訊
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteMapNodeGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
    parameters:
      - schema:
          type: string
        name: siteID
        in: path
        required: true
        description: 網站代碼
      - schema:
          type: string
        name: nodeID
        in: path
        required: true
        description: 節點代碼
  '/Group/Menu/{groupID}':
    get:
      summary: GetGroupMenuList
      tags:
        - System
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMenuGetResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Group-Menu
      description: 取得群組設定的後台功能
    parameters:
      - schema:
          type: string
        name: groupID
        in: path
        required: true
    put:
      summary: PutGroupMenuList
      operationId: put-Group-Menu-groupID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
      description: 更新該群組可使用的後台功能
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMenuGetResponse'
      tags:
        - System
  '/Group/SiteMap/{siteID}/{groupID}':
    get:
      summary: GetGroupSiteMapList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSiteMapGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Group-SiteMap
      tags:
        - System
      description: 取得群組設定的前台功能
    parameters:
      - schema:
          type: string
        name: groupID
        in: path
        required: true
        description: 群組ID
      - schema:
          type: string
        name: siteID
        in: path
        required: true
        description: 網站ID
    put:
      summary: PutGroupSiteMapList
      operationId: put-Group-SiteMap-groupID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
      description: 更新群組可使用的前台功能
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupSiteMapGetResponse'
      tags:
        - System
  '/Template/{controlID}':
    get:
      summary: GetTemplate
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Template
      description: 取得編輯器所需的版型清單
    parameters:
      - schema:
          type: string
        name: controlID
        in: path
        required: true
        description: 依照這個參數區分這次編輯時可以使用哪些版型，在節點管理中則帶入layout_id，網站管理的話會多一個欄位來控制controlid
  '/Gallery/{galleryID}':
    parameters:
      - schema:
          type: string
        name: galleryID
        in: path
        required: true
    put:
      summary: UpdateGallery
      operationId: put-Gallery-galleryID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveGalleryResponse'
      parameters: []
      description: ''
      requestBody:
        content:
          multipart/form-data:
            schema:
              description: Form data格式
        description: |-
          用formData型式傳入
          file:處理後檔案
          setting：放額外的JSON參數
      tags:
        - Gallery
  '/SitemapAuditing/{nodeId}':
    post:
      summary: AuditingSitemap
      operationId: post-SitemapAuditing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SitemapAuditingRequest'
      tags:
        - SiteMap
    parameters:
      - schema:
          type: string
        name: nodeId
        in: path
        required: true
        description: 節點流水號
  /Layout:
    get:
      summary: GetLayout
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayoutGetResponse'
      operationId: get-Layout
      description: 取得版面佈局列表
  '/FarmTakeOff/{funcID}':
    parameters:
      - schema:
          type: string
        name: funcID
        in: path
        required: true
    get:
      summary: TakeOffFarmData
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-FarmTakeOff-funcID
      description: 針對某一筆資料強制下架
      parameters:
        - schema:
            type: string
          in: query
          name: dataID
          required: true
          description: 帶入TableDataInfo.data_id
  '/SitemapPreview/{nodeID}':
    parameters:
      - schema:
          type: string
        name: nodeID
        in: path
        required: true
        description: 節點ID
    get:
      summary: GetSitemapPreview
      tags:
        - SiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewInfo'
      operationId: get-SitemapPreview-nodeID
      description: 節點預覽，分節點資訊預覽或整頁式預覽
      parameters:
        - schema:
            type: string
          in: query
          name: language_id
          description: 給語系，回傳URL也帶入語系
  '/AuditingPreview/{orderID}':
    parameters:
      - schema:
          type: string
        name: orderID
        in: path
        required: true
        description: 送審單號ID
    get:
      summary: GetAuditingPreview
      tags:
        - Auditing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewInfo'
      operationId: get-AuditingPreview-orderID
      description: 取得審核單號的預覽畫面，分整頁式與FARM欄位預覽
  '/ContentDataSource/{typeID}':
    get:
      summary: ListContentDataSource
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContentDataSourceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-ContentDataSource
      description: 取得編輯器消息版型的下拉選單
    parameters:
      - schema:
          type: string
        name: typeID
        in: path
        required: true
        description: 類型代碼
  '/ContentVersion/{contentID}':
    get:
      summary: ListContentVersion
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContentVersionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-ContentVersion
    parameters:
      - schema:
          type: string
        name: contentID
        in: path
        required: true
        description: 內容代碼
  '/ReOrderSiteMap/{nodeID}':
    parameters:
      - schema:
          type: string
        name: nodeID
        in: path
        required: true
    put:
      summary: ReOrderSitemap
      operationId: put-ReOrderSiteMap-siteID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - SiteMap
      parameters:
        - schema:
            type: number
          in: query
          name: node_order
          description: 順序
          required: true
        - schema:
            type: string
          in: query
          name: parent_id
          description: 父層代碼
          required: true
  '/FarmTrigger/{triggerID}':
    parameters:
      - schema:
          type: string
        name: triggerID
        in: path
        required: true
        description: 帶入Trigger代碼
    get:
      summary: ListFarmTriggerData
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFarmTriggerDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-FarmTrigger-triggerID
      description: ''
  '/Farm/Tree/{sourceID}':
    get:
      summary: GetFarmTree
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFarmTreeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Farm-Tree
    parameters:
      - schema:
          type: string
        name: sourceID
        in: path
        required: true
  /Group:
    get:
      summary: GetGroupList
      tags:
        - System
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupResponst'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Group
      description: 取得群組清單
  /GalleryConfig:
    get:
      summary: GetGalleryConfig
      tags:
        - Gallery
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryConfigResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-GalleryConfig
      description: 取得媒體庫相關上傳限制
  '/SitemapContentUnlock/{siteId}/{nodeId}':
    get:
      summary: SitemapContentUnlock
      tags:
        - Content
        - SiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-SitemapContentUnlock
      description: 離開編輯或儲存後，解鎖content資料，讓其他人可再取得內容編輯
    parameters:
      - schema:
          type: string
        name: siteId
        in: path
        required: true
        description: 網站ID
      - schema:
          type: string
        name: nodeId
        in: path
        required: true
        description: 節點Id
  /Gallery:
    post:
      summary: AddGallery
      operationId: post-Gallery
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveGalleryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: |-
        用formData型式傳入
        originalFile：原檔
        file:處理後檔案
        setting：放額外的JSON參數
      tags:
        - Gallery
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
  '/Gallery/ShowOriginal/{galleryID}':
    parameters:
      - schema:
          type: string
        name: galleryID
        in: path
        required: true
    get:
      summary: GetGalleryShowOriginal
      tags:
        - Gallery
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Gallery-ShowOriginal-galleryID
      description: 顯示原檔案(圖片的話直接將這個網址放入img src內，檔案的話另開視窗)
  '/SliderType/Range/{typeId}':
    get:
      summary: GetSliderTypeRange
      tags:
        - Slider
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSliderTypeRangeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-SliderType-Range
      description: 取得輪播分類的圖片限制範圍
    parameters:
      - schema:
          type: string
        name: typeId
        in: path
        required: true
  '/GallerySetting/{galleryID}':
    get:
      summary: GetGallerySetting
      tags:
        - Gallery
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGallerySettingResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-GallerySetting
      description: ''
    parameters:
      - schema:
          type: string
        name: galleryID
        in: path
        required: true
  /File:
    post:
      summary: AddFile
      operationId: post-File
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveFileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - File
      description: |-
        用formData型式傳入
        file:處理後檔案
  '/File/{galleryID}':
    parameters:
      - schema:
          type: string
        name: galleryID
        in: path
        required: true
    put:
      summary: UpdateFile
      operationId: put-File-galleryID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveFileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - File
      description: |-
        用formData型式傳入
        file:處理後檔案
  /FormType:
    get:
      summary: ListFormType
      tags:
        - Form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFormTypeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-FormType
      description: 取得所有表單下載分類
  '/FormType/{typeID}':
    parameters:
      - schema:
          type: string
        name: typeID
        in: path
        required: true
    get:
      summary: ListFiles
      tags:
        - Form
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-FormType-typeID
      description: 取得表單下載檔案清單
components:
  schemas:
    LoginRequest:
      title: LoginRequest
      type: object
      x-tags:
        - Model
      properties:
        username:
          type: string
          description: 帳號
          maxLength: 50
        password:
          type: string
          description: 密碼
          maxLength: 50
        validation_code:
          type: number
          description: 圖形驗證碼
      required:
        - username
        - password
        - validation_code
    GenerationHeader:
      title: GenerationHeader
      type: object
      x-tags:
        - Model
      properties:
        success:
          description: 成功或失敗
          type: boolean
        identity:
          type: string
          description: >-
            若為新增或修改，回傳資料pk，經過base64編碼組合，ex編碼前:node=1(And符號打不出來)version=2，會回傳bm9kZT0xJnZlcnNpb249Mg==
          example: bm9kZT0xJnZlcnNpb249Mg==
      required:
        - success
    LoginResponse:
      title: LoginResponse
      type: object
      x-tags:
        - Model
      properties:
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
      required:
        - loginInfo
    LoginInfo:
      title: LoginInfo
      type: object
      properties:
        user_id:
          type: string
          description: 登入帳號
        user_name:
          type: string
          description: 登入者姓名
        dept_id:
          type: string
          description: 部門代碼
      required:
        - user_id
        - user_name
        - dept_id
      x-tags:
        - Model
    MenuGetResponse:
      title: MenuGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/MenuInfo'
    MenuInfo:
      title: MenuInfo
      type: object
      properties:
        func_id:
          type: string
          example: sitemanagement
          description: 功能代碼
        func_name:
          type: string
          example: 節點管理
          description: 功能名稱
        component_id:
          type: string
          description: 元件代碼
        children:
          type: array
          description: 下層功能
          items:
            $ref: '#/components/schemas/MenuInfo'
      required:
        - func_id
        - func_name
        - children
      x-tags:
        - Model
    GalleryCaregoryGetResponse:
      title: GalleryCaregoryGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/GalleryCategoryInfo'
    GalleryCategoryInfo:
      title: GalleryCategoryInfo
      type: object
      x-tags:
        - Model
      properties:
        category_id:
          type: string
          example: '1'
          description: 目錄代碼
        category_name:
          type: string
          example: 個資相關PDF
          description: 目錄名稱
        can_upload:
          type: boolean
          example: 'true'
          description: 是否能上傳至該目錄
        assign_dept_id:
          type: string
          description: |-
            指定給哪些部門使用(新增需帶入登入者部門且不能取消)

            多個部門用半形(,)逗點分開
        children:
          type: array
          description: 子層目錄
          items:
            $ref: '#/components/schemas/GalleryCategoryInfo'
      required:
        - category_id
        - category_name
        - can_upload
    GalleryCategoryPushResponse:
      title: GalleryCategoryPushResponse
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GenerationHeader'
        body:
          $ref: '#/components/schemas/GalleryCategoryInfo'
      x-tags:
        - Model
    GalleryGetResponse:
      title: GalleryGetResponse
      type: object
      x-tags:
        - Model
      properties:
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        datas:
          type: array
          items:
            $ref: '#/components/schemas/GalleryInfo'
    GalleryInfo:
      title: GalleryInfo
      type: object
      x-tags:
        - Model
      properties:
        gallery_id:
          type: number
          description: 媒體代碼
        file_name:
          type: string
          example: sample-1.png
          description: 檔名
        size:
          type: string
          description: 檔案大小(單位：kb)
          example: '350'
        file_type:
          type: string
          enum:
            - PDF
            - DOC
            - DOCX
            - XLS
            - XLSX
            - PNG
            - JPG
            - JPEG
            - GIF
          description: 檔案類型
        create_time:
          type: string
          format: date-time
          example: '2020-04-30 15:00:00'
          description: 檔案建立時間
        url:
          type: string
          description: 檔案URL
      required:
        - gallery_id
        - file_name
        - size
        - file_type
        - create_time
        - url
    PageInfo:
      title: PageInfo
      type: object
      x-tags:
        - Model
      properties:
        totalPageSize:
          type: number
          description: 總頁數
        totalRecSize:
          type: number
          description: 總筆數
        page:
          type: number
          description: 目前頁數
    DepartmentInfo:
      title: DepartmentInfo
      type: object
      description: ''
      x-tags:
        - Model
      properties:
        dept_id:
          type: string
          description: 部門代碼
        dept_name:
          type: string
          description: 部門名稱
        children:
          type: array
          description: 子層部門
          items:
            $ref: '#/components/schemas/DepartmentInfo'
      required:
        - dept_id
        - dept_name
        - children
    DepartmentGetResponse:
      title: DepartmentGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/DepartmentInfo'
    DepartmentMaintainRequest:
      title: DepartmentMaintainRequest
      type: object
      description: ''
      x-tags:
        - Model
      properties:
        dept_name:
          type: string
          description: 部門名稱
          maxLength: 100
        parent_id:
          type: string
          description: 上層部門(若為第一層不需傳值)
          maxLength: 100
      required:
        - dept_name
    GalleryCategoryPutRequest:
      title: GalleryCategoryPutRequest
      type: object
      x-tags:
        - Model
      properties:
        category_name:
          type: string
          description: 目錄名稱
          maxLength: 50
        parent_id:
          type: string
          description: 上層代碼(若為第一層不需傳值)
        assign_dept_id:
          type: string
          description: |-
            指定給哪些部門使用(新增需帶入登入者部門且不能取消)

            多個部門用半形(,)逗點分開
      required:
        - category_name
        - assign_dept_id
    AuditingInfo:
      title: AuditingInfo
      type: object
      x-tags:
        - Model
      properties:
        order_id:
          type: number
          description: 審核單號
        order_name:
          type: string
          description: 審核單名稱
        version:
          type: number
          description: 資料版本
        start_time:
          type: string
          format: date-time
          description: 上架時間
        end_time:
          type: string
          format: date-time
          description: 下架時間
        submit_comment:
          type: string
          description: 送審意見
        create_name:
          type: string
          description: 送審姓名
      required:
        - order_id
        - order_name
        - version
        - start_time
        - end_time
        - create_name
    AuditingGetResponse:
      title: AuditingGetResponse
      type: object
      x-tags:
        - Model
      properties:
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        datas:
          type: array
          items:
            $ref: '#/components/schemas/AuditingInfo'
    MyAuditingDetailInfo:
      title: MyAuditingDetailInfo
      type: object
      properties:
        auditing_group_name:
          type: string
          description: 簽核群組名稱
        auditing_stage:
          type: number
          description: 簽核階段
        auditing_name:
          type: string
          description: 簽核主管姓名
        auditing_dept_name:
          type: string
          description: 簽核部門名稱
        status:
          type: string
          description: 簽核狀態
        auditing_time:
          type: string
          format: date-time
          description: 簽核時間
        auditing_comment:
          type: string
          description: 簽核意見
      required:
        - auditing_group_name
        - auditing_stage
      x-tags:
        - Model
    MyAuditingDetailGetResponse:
      title: MyAuditingDetailGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/MyAuditingDetailInfo'
    AuditingSubmitRequest:
      title: AuditingSubmitRequest
      type: object
      x-tags:
        - Model
      properties:
        status:
          type: string
          enum:
            - REJECT
            - APPROVED
          description: 審核結果
        comment:
          type: string
          description: 審核意見
          maxLength: 500
      required:
        - status
    PublishInfo:
      title: PublishInfo
      type: object
      properties:
        draft:
          type: object
          properties:
            start_time:
              type: string
              format: date
              example: '2020-01-01'
            end_time:
              type: string
              format: date
              example: '2020-01-01'
        pending_published:
          type: object
          properties:
            start_time:
              type: string
              format: date
              example: '2020-01-01'
            end_time:
              type: string
              format: date
              example: '2020-01-01'
        published:
          type: object
          properties:
            start_time:
              type: string
              format: date
              example: '2020-01-01'
            end_time:
              type: string
              format: date
              example: '2020-01-01'
      x-tags:
        - Model
    SiteMapGetResponse:
      title: SiteMapGetResponse
      type: object
      x-tags:
        - Model
      description: ''
      properties:
        node_id:
          type: string
          description: 節點流水號
        node_name:
          type: string
          description: 節點名稱
        canModify:
          type: boolean
          description: 是否能修改
        canSubmit:
          type: boolean
          description: 是否能送審
        canPreview:
          type: boolean
          description: 是否能預覽
        canAdd:
          type: boolean
          description: 是否可新增節點，及是否可移動到此節點的下層
        canDelete:
          type: boolean
          description: 是否可刪除
        canOrder:
          type: boolean
          description: 可進行排序(可移動及可移動到此節點上下位置)
        children:
          type: array
          items:
            $ref: '#/components/schemas/SiteMapGetResponse'
        content_type:
          type: string
          description: 節點類型
        device:
          type: string
          description: 哪些裝置可讀取，多裝置由逗號分開
          example: 'pc,mobile,pad'
        is_mega_menu:
          description: 是否顯示於主選單
          type: boolean
      required:
        - node_id
        - node_name
        - canModify
        - canSubmit
        - canPreview
        - canAdd
        - canDelete
    SiteMapNodeGetResponse:
      x-tags:
        - Model
      title: SiteMapNodeGetResponse
      type: object
      properties:
        node_id:
          type: string
          description: 節點流水號
        layout_id:
          type: string
          description: 模版代碼
        node_type:
          type: string
          enum:
            - URL
            - CONTENT
            - FARM
          description: 節點類型
        func_id:
          type: string
          description: 若node_type為FARM，此欄位回傳功能ID
        content_id:
          type: string
          description: 若node_type為CONTENT，此欄位回傳編輯內容ID
        url_type:
          type: string
          enum:
            - INSIDE
            - OUTSIDE
          description: URL類型
        url_link_node_id:
          type: string
          description: |-
            URL站內節點
            有url_type為INSIDE才有
        url:
          type: string
          description: |-
            URL站外網址
            有url_type為OUTSIDE才有
        url_blank:
          type: string
          enum:
            - 'Y'
            - 'N'
          description: URL是否另開視窗
        content_path:
          type: string
          description: 節點連結路徑
        version:
          type: string
          description: 資料版本
        canModify:
          type: boolean
          description: 是否能修改
        canSubmit:
          type: boolean
          description: 是否能送審
        canPreview:
          type: boolean
          description: 是否可以預覽
        create_by:
          type: string
        create_time:
          type: string
        update_by:
          type: string
        update_time:
          type: string
        publish_info:
          $ref: '#/components/schemas/PublishInfo'
        details:
          type: array
          items:
            $ref: '#/components/schemas/SiteNodeDetailInfo'
        device:
          type: string
          description: 哪些裝置可讀取，多裝置由逗號分開
          example: 'pc,mobile,pad'
        is_mega_menu:
          description: 是否顯示於主選單
          type: boolean
      required:
        - node_id
        - canModify
        - canSubmit
        - canPreview
        - create_by
        - create_time
        - update_by
        - update_time
        - details
    UserSiteMapPutRequest:
      title: UserSiteMapPutRequest
      type: object
      x-tags:
        - Model
      properties:
        parent_id:
          type: string
        url_type:
          type: string
        url_link_node_id:
          type: string
        url:
          type: string
          maxLength: 500
        url_blank:
          type: string
        content_path:
          type: string
          maxLength: 100
          description: 節點連結路徑(僅能英數字及「-」、「_」)
        details:
          type: array
          items:
            $ref: '#/components/schemas/SiteNodeDetailInfo'
        device:
          type: string
          description: 哪些裝置可讀取，多裝置由逗號分開
          example: 'pc,mobile,pad'
        is_mega_menu:
          description: 是否顯示於主選單
          type: boolean
    UserSiteMapPostRequest:
      title: UserSiteMapPostRequest
      type: object
      x-tags:
        - Model
      properties:
        node_name:
          type: string
          maxLength: 50
        layout_id:
          type: string
        parent_id:
          type: string
        node_type:
          type: string
        url_type:
          type: string
        url_link_node_id:
          type: string
        url:
          type: string
          maxLength: 500
        url_blank:
          type: string
        content_path:
          type: string
          description: 節點連結路徑(僅能英數字及「-」、「_」)
          maxLength: 100
        meta_title:
          type: string
          maxLength: 500
        meta_description:
          type: string
          maxLength: 500
        meta_keyword:
          type: string
          maxLength: 500
        meta_image:
          type: string
        assign_group_id:
          type: string
          description: '指定給哪些群組使用，多個用半形(,)逗點分開'
        device:
          type: string
          description: 哪些裝置可讀取，多裝置由逗號分開
          example: 'pc,mobile,pad'
        is_mega_menu:
          description: 是否顯示於主選單
          type: boolean
      required:
        - node_name
        - meta_title
        - assign_group_id
    ErrorInfo:
      title: ErrorInfo
      type: object
      x-tags:
        - Model
      properties:
        error_code:
          type: string
          description: 錯誤碼
        error_message:
          type: string
          description: 錯誤訊息
      required:
        - error_code
        - error_message
    MyAuditingGetResponse:
      title: MyAuditingGetResponse
      type: object
      properties:
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        datas:
          type: array
          items:
            $ref: '#/components/schemas/MyAuditingInfo'
      x-tags:
        - Model
    MyAuditingInfo:
      title: MyAuditingInfo
      type: object
      properties:
        order_id:
          type: number
        order_name:
          type: string
        status:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        version:
          type: string
      required:
        - order_id
        - order_name
        - status
        - start_time
        - end_time
        - version
      x-tags:
        - Model
    FarmFormInfo:
      title: FarmFormInfo
      type: object
      description: Search & Form & Detail共用的物件
      x-tags:
        - Model
      properties:
        split_size:
          type: number
          description: 控制一列多少欄
        columns:
          type: array
          description: 欄位資料
          items:
            type: object
            properties:
              display_text:
                type: string
                description: 欄位顯示名稱
              display_type:
                type: string
                description: 欄位顯示類型
                enum:
                  - TEXT
                  - TEXTAREA
                  - SELECT
                  - RADIO
                  - CHECKBOX
                  - DATE
                  - GALLERY
                  - EDITOR
                  - DATETIME
                  - TREE
                  - LABEL
                  - LINK
                  - FILE
              value:
                type: string
                description: 欄位值
              column_id:
                type: string
                description: 視為input的name
              triggers:
                type: array
                items:
                  $ref: '#/components/schemas/FarmTriggerInfo'
              setting:
                type: object
                description: 欄位設定
                properties:
                  max_length:
                    type: number
                    description: 最大長度(只有TEXT跟TEXTAREA才有)
                  options:
                    type: array
                    description: 選單類內容
                    items:
                      $ref: '#/components/schemas/FarmOptionInfo'
                  placeholder:
                    type: string
                    description: 輸入框的提醒文字
                  tree_source:
                    type: string
                    description: Type為TREE才會有，主要放長TREE的API路徑
                  file_name:
                    type: string
                    description: 上傳後的檔名
                  url:
                    type: string
                    description: 當type是LINK時提供url網址
                  limit_file_name_ext:
                    type: string
                    description: 媒體庫挑選副檔名限制(Gallery Type限定)
                  img_limit_width:
                    type: number
                    description: 圖片限制寬度
                  img_limit_height:
                    type: number
                    description: 圖片限制高度
                  editor_control_id:
                    type: string
                    description: 編輯器控制代碼
              is_readonly:
                type: boolean
            required:
              - display_text
              - display_type
              - column_id
              - is_readonly
        validation:
          $ref: '#/components/schemas/FarmValidationInfo'
      required:
        - split_size
    FarmOptionInfo:
      title: FarmOptionInfo
      type: object
      x-tags:
        - Model
      properties:
        value:
          type: string
        text:
          type: string
      required:
        - value
        - text
      description: 選單類內容物件
    FarmTriggerInfo:
      title: FarmTriggerInfo
      type: object
      description: 控制表單連動物件
      x-tags:
        - Model
      properties:
        trigger_type:
          type: string
          description: |-
            驅動類型：

            DataTrigger∶資料連動類型，驅動後需呼叫後台API取得option放入trigger_target。

            EnableTrigger：顯示連動，把trigger_target欄位顯示出來

            ReadOnlyTrigger：Readonly連動，把trigger_target欄位改為ReadOnly屬性
          enum:
            - DATA
            - ENABLE
            - READONLY
            - REQUIRE
        trigger_target:
          type: array
          description: 放哪些欄位「被連動」
          minItems: 1
          items:
            type: string
        trigger_setting:
          type: object
          description: |-
            依照不同的Trigger_type有不同的物件。

            當Trigger_Type時會放：
            trigger_id = xxx
          properties:
            '':
              type: string
      required:
        - trigger_type
        - trigger_target
    FarmValidationInfo:
      title: FarmValidationInfo
      type: object
      description: ''
      x-tags:
        - Model
      properties:
        required:
          type: array
          items:
            type: string
        email:
          type: array
          items:
            type: string
        alphanumeric:
          type: array
          items:
            type: string
        number:
          type: array
          items:
            type: string
        range:
          type: array
          items:
            type: object
            properties:
              start_column:
                type: string
              end_column:
                type: string
            required:
              - start_column
              - end_column
    FarmTableInfo:
      title: FarmTableInfo
      type: object
      description: 基本表格物件
      x-tags:
        - Model
      properties:
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        can_create:
          type: boolean
        can_checkbox:
          type: boolean
        datas:
          type: array
          items:
            $ref: '#/components/schemas/FarmTableDataInfo'
      required:
        - pageInfo
        - can_create
        - can_checkbox
    FarmTableDataInfo:
      title: FarmTableDataInfo
      type: object
      x-tags:
        - Model
      description: ''
      properties:
        data_id:
          type: string
          description: 每一筆Raw的唯一值
        is_checked:
          type: boolean
          description: 該筆是否已勾選
        columns:
          type: array
          items:
            type: object
            properties:
              display_type:
                type: string
                enum:
                  - LABEL
                  - LINK
                description: 顯示類型
              value:
                type: string
                description: 顯示值
              display_text:
                type: string
                description: 顯示標題
            required:
              - display_type
              - value
              - display_text
        actions:
          type: array
          description: 該筆可以做的操作(action)
          items:
            type: string
            enum:
              - MODIFY
              - DELETE
              - PUBLISH
              - 'OFF'
              - PREVIEW
              - MORE
        moreFuncId:
          type: string
          description: 如果action有更多則會傳入此參數
      required:
        - data_id
        - is_checked
        - actions
    FarmInfoGetResponse:
      title: FarmInfoGetResponse
      type: object
      x-tags:
        - Model
      description: ''
      properties:
        category:
          type: array
          description: 前台以tab方式區分不同資料分類
          items:
            $ref: '#/components/schemas/FarmCategoryInfo'
        detailInfo:
          $ref: '#/components/schemas/FarmFormInfo'
      required:
        - category
    ContentInfo:
      title: ContentInfo
      type: object
      x-tags:
        - Model
      properties:
        languages:
          type: array
          items:
            $ref: '#/components/schemas/LanguageInfo'
        galleries:
          type: array
          description: 使用的媒體庫檔案ID
          items:
            type: string
    ContentTemplateInfo:
      title: ContentTemplateInfo
      type: object
      x-tags:
        - Model
      description: ''
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        templateId:
          type: string
          description: 版型代碼
        fields:
          type: array
          description: 版型中的欄位
          items:
            $ref: '#/components/schemas/ContentFieldInfo'
        attributes:
          type: object
          description: 做Extension使用
      required:
        - id
        - templateId
        - fields
        - attributes
    ContentFieldInfo:
      title: ContentFieldInfo
      type: object
      x-tags:
        - Model
      properties:
        fieldId:
          type: string
          description: 欄位代碼
        fieldType:
          type: string
          description: 欄位型態
          enum:
            - TEXT
            - TEXTAREA
            - LINK
            - IMG
            - BGIMG
            - HTMLDETAIL
        fieldVal:
          type: string
          description: 屬性值
        extension:
          type: object
          description: 用來extension使用
      required:
        - fieldId
        - fieldType
        - fieldVal
        - extension
    DepartmentDetailInfo:
      title: DepartmentDetailInfo
      type: object
      x-tags:
        - Model
      properties:
        dept_id:
          type: string
        dept_name:
          type: string
      required:
        - dept_id
        - dept_name
    SiteInfo:
      title: SiteInfo
      type: object
      x-tags:
        - Model
      properties:
        site_id:
          type: string
        site_name:
          type: string
      required:
        - site_id
        - site_name
    SiteGetResponse:
      title: SiteGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/SiteInfo'
    GroupMenuGetResponse:
      title: GroupMenuGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/GroupMenuInfo'
    GroupSiteMapGetResponse:
      title: GroupSiteMapGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/GroupSitemapInfo'
    TemplateGetResponse:
      title: TemplateGetResponse
      type: object
      x-tags:
        - Model
      properties:
        static:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfo'
        tab:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfo'
        dynamic:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfo'
        customize:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfo'
    TemplateInfo:
      title: TemplateInfo
      type: object
      x-tags:
        - Model
      properties:
        template_id:
          type: string
        template_name:
          type: string
        template_thumbnail:
          type: string
      required:
        - template_id
        - template_name
        - template_thumbnail
    FarmAuditingRequest:
      title: FarmAuditingRequest
      type: object
      description: ''
      properties:
        data_id:
          type: string
          description: 資料id(tableInfo.data_id)
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        memo:
          type: string
          maxLength: 500
        func_id:
          type: string
      required:
        - data_id
        - start_time
        - end_time
        - memo
        - func_id
    SitemapAuditingRequest:
      title: SitemapAuditingRequest
      type: object
      description: ''
      properties:
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        memo:
          type: string
          maxLength: 500
        site_id:
          type: string
      required:
        - start_time
        - end_time
        - memo
        - site_id
    LanguageInfo:
      title: LanguageInfo
      type: object
      description: ''
      properties:
        language_id:
          type: string
          description: 語言ID
          example: zh-TW
        language_name:
          type: string
          description: 語言名稱
          example: 中文
        blocks:
          type: array
          description: 區塊
          items:
            $ref: '#/components/schemas/ContentBlockInfo'
      required:
        - language_id
        - language_name
        - blocks
      x-tags:
        - Model
    LayoutGetResponse:
      title: LayoutGetResponse
      type: object
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/LayoutInfo'
    LayoutInfo:
      title: LayoutInfo
      type: object
      properties:
        layout_id:
          type: string
          description: 版面佈局ID
        layout_name:
          type: string
          description: 版面佈局名稱
        layout_thumbnail:
          type: string
          description: 版面佈局縮圖
    FarmCategoryInfo:
      title: FarmCategoryInfo
      type: object
      x-tags:
        - Model
      properties:
        category_id:
          type: string
          description: 當如果該category點了更多，funcId帶入category_id
        category_name:
          type: string
          description: 帶入前台tab顯示名稱
        searchInfo:
          $ref: '#/components/schemas/FarmFormInfo'
        tableInfo:
          $ref: '#/components/schemas/FarmTableInfo'
      required:
        - category_id
        - category_name
    PreviewInfo:
      title: PreviewInfo
      type: object
      description: 預覽model，分為整頁是預覽與FARM的欄位式預覽
      x-tags:
        - Model
      properties:
        preview_type:
          type: string
          description: 預覽類型
          enum:
            - ONE_PAGE
            - FARM
        url:
          type: string
          description: 預覽URL，當preview_type是單頁式時呈現
        func_id:
          type: string
          description: 功能ID，當preview_type是FARM時呈現
        data_id:
          type: string
          description: |
            資料ID，當preview_type是FARM時呈現
      required:
        - preview_type
    SiteNodeDetailInfo:
      title: SiteNodeDetailInfo
      type: object
      x-tags:
        - Model
      properties:
        language_id:
          type: string
        language_name:
          type: string
        node_name:
          type: string
          maxLength: 50
        meta_title:
          type: string
          maxLength: 500
        meta_description:
          type: string
          maxLength: 500
        meta_keyword:
          type: string
          maxLength: 500
        meta_image:
          type: string
          description: meta圖檔對應媒體庫ID
        meta_image_name:
          type: string
          description: meta圖檔媒體庫檔名
          maxLength: 300
        is_default:
          type: boolean
          description: 是否為預設語言
      required:
        - language_id
        - language_name
        - node_name
    ListContentDataSourceResponse:
      title: ListContentDataSourceResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/ContentDataSource'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ContentDataSourceAction'
      required:
        - datas
        - actions
    ContentDataSource:
      title: ContentDataSource
      type: object
      x-tags:
        - Model
      properties:
        id:
          type: string
          description: 分類代碼
        name:
          type: string
          description: 分類名稱
      required:
        - id
        - name
    ListContentVersionResponse:
      title: ListContentVersionResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/ContentVersionInfo'
    ContentVersionInfo:
      title: ContentVersionInfo
      type: object
      x-tags:
        - Model
      properties:
        version:
          type: number
          description: 版本號
        create_time:
          type: string
          description: 建立帳號
        create_by:
          type: string
          description: 建立時間
      required:
        - version
        - create_time
        - create_by
    ListFarmTriggerDataResponse:
      title: ListFarmTriggerDataResponse
      type: object
      x-tags:
        - Model
      description: ''
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/FarmOptionInfo'
      required:
        - datas
    GetFarmTreeResponse:
      title: GetFarmTreeResponse
      type: object
      x-tags:
        - Model
      properties:
        check_type:
          type: string
          enum:
            - SINGLE
            - MULTIPLE
          description: 挑選方式(單選/多選)
        data:
          type: array
          items:
            $ref: '#/components/schemas/FarmTreeInfo'
      required:
        - check_type
    FarmTreeInfo:
      title: FarmTreeInfo
      type: object
      x-tags:
        - Model
      properties:
        id:
          type: string
        name:
          type: string
        children:
          type: array
          items:
            $ref: '#/components/schemas/FarmTreeInfo'
      required:
        - id
        - name
        - children
    GroupSitemapInfo:
      title: GroupSitemapInfo
      type: object
      required:
        - node_id
        - can_add
        - can_modify
        - can_delete
      properties:
        node_id:
          type: string
        can_add:
          type: boolean
        can_modify:
          type: boolean
        can_delete:
          type: boolean
    GroupMenuInfo:
      title: GroupMenuInfo
      type: object
      required:
        - func_id
      properties:
        func_id:
          type: string
    ListGroupResponst:
      title: ListGroupResponst
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/GroupInfo'
    GroupInfo:
      title: GroupInfo
      type: object
      x-tags:
        - Model
      properties:
        group_id:
          type: string
          description: 群組代碼
        group_name:
          type: string
          description: 群組名稱
      required:
        - group_id
        - group_name
    GalleryConfigResponse:
      title: GalleryConfigResponse
      type: object
      x-tags:
        - Model
      properties:
        max_upload_number:
          type: number
          description: 一次上傳最大檔案上限
          example: 10
        max_upload_size:
          type: number
          description: 一次上傳全部檔案大小上限(單位：kb)
          example: 30000
        limit_character:
          type: string
          description: 限制媒體庫的檔名字元
        file_limits:
          type: array
          description: 各檔案上傳限制
          items:
            $ref: '#/components/schemas/GalleryFileLimitConfig'
        img_filename_ext:
          type: string
          description: 圖檔類型副檔名
          example: 'PNG,JPG,GIF,JPEG'
      required:
        - max_upload_number
        - max_upload_size
        - limit_character
        - file_limits
        - img_filename_ext
    GalleryFileLimitConfig:
      title: GalleryFileLimitConfig
      type: object
      x-tags:
        - Model
      properties:
        file_name_ext:
          type: string
          description: 副檔名
        max_file_size:
          type: number
          description: 單一檔案最大上傳大小
      required:
        - file_name_ext
        - max_file_size
    ContentBlockInfo:
      title: ContentBlockInfo
      type: object
      x-tags:
        - Model
      properties:
        block_id:
          type: string
        templates:
          type: array
          items:
            $ref: '#/components/schemas/ContentTemplateInfo'
      required:
        - block_id
        - templates
    ContentDataSourceAction:
      title: ContentDataSourceAction
      type: object
      x-tags:
        - Model
      properties:
        action_type:
          type: string
          description: action分類
          enum:
            - FARM
        action_name:
          type: string
          description: action顯示名稱
        func_id:
          type: string
          description: 功能代碼
      required:
        - action_type
        - action_name
    SaveGalleryResponse:
      title: SaveGalleryResponse
      type: object
      x-tags:
        - Model
      properties:
        original_gallery_id:
          type: number
          description: 原檔galery_id
        gallery_id:
          type: number
          description: 處理後的gallery_id
        success:
          type: boolean
        identity:
          type: string
        original_path:
          type: string
          description: 原始檔案路徑
        path:
          type: string
          description: 處理後的路徑
      required:
        - original_gallery_id
        - gallery_id
        - success
        - identity
        - original_path
        - path
    GetSliderTypeRangeResponse:
      title: GetSliderTypeRangeResponse
      type: object
      x-tags:
        - Model
      properties:
        width:
          type: number
          description: 寬度(如果給-1就不限制)
        height:
          type: number
          description: 高度(如果給-1就不限制)
      required:
        - width
        - height
    GetGallerySettingResponse:
      title: GetGallerySettingResponse
      type: object
      x-tags:
        - Model
      properties:
        crop_setting:
          type: string
          description: 裁切設定(json format)
      required:
        - crop_setting
    SaveFileResponse:
      title: SaveFileResponse
      type: object
      x-tags:
        - Model
      properties:
        gallery_id:
          type: number
        path:
          type: string
        success:
          type: boolean
        identity:
          type: string
      required:
        - gallery_id
        - path
        - success
        - identity
    ListFormTypeResponse:
      title: ListFormTypeResponse
      type: object
      x-tags:
        - Model
      description: ''
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/ListFormTypeInfo'
      required:
        - datas
    ListFormTypeInfo:
      title: ListFormTypeInfo
      type: object
      x-tags:
        - Model
      properties:
        id:
          type: string
          description: 表單下載分類代碼
        name:
          type: string
          description: 表單下載分類名稱
      required:
        - id
        - name
    ListFilesResponse:
      title: ListFilesResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/ListFilesInfo'
      required:
        - datas
    ListFilesInfo:
      title: ListFilesInfo
      type: object
      x-tags:
        - Model
      properties:
        gallery_id:
          type: number
        name:
          type: string
        path:
          type: string
      required:
        - gallery_id
        - name
        - path
  securitySchemes: {}