openapi: 3.0.0
info:
  title: Garden Backend API
  version: '4.0'
  license:
    name: neux-garden
  description: Provider Garden Backend communication API
servers:
  - url: 'http://runtime.decoder.com.tw'
paths:
  '/Page/{page_id}/{lang}':
    get:
      summary: GetPageInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfoGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      operationId: get-Page
      description: 取得該節點內容以及Layout
      tags:
        - Garden
    parameters:
      - schema:
          type: string
        name: page_id
        in: path
        required: true
        description: 頁面代碼
      - schema:
          type: string
        name: lang
        in: path
        required: true
        description: 語系
  '/Page/{page_id}':
    get:
      summary: GetPageInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfoGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      operationId: get-Page-DefaultLang
      description: 取得該節點內容以及Layout
      tags:
        - Garden
    parameters:
      - schema:
          type: string
        name: page_id
        in: path
        required: true
        description: 頁面代碼
  /SiteMap:
    get:
      summary: GetSiteMap
      tags:
        - Garden
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteMapGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      operationId: get-SiteMap
      description: 取得全部網站SiteMap節點樹
      parameters: []
    parameters: []
  '/Preview/Page/{page_id}/{lang}':
    get:
      summary: GetPreviewPageInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfoGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      operationId: get-Preview-Page
      description: CMS預覽使用取得Temp的PageInfo
      tags:
        - Preview
    parameters:
      - schema:
          type: string
        name: page_id
        in: path
        required: true
        description: 頁面代碼
      - schema:
          type: string
        name: lang
        in: path
        required: true
        description: 語系
  '/Preview/Page/{page_id}':
    get:
      summary: GetPreviewPageInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfoGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      operationId: get-Preview-Page-DefaultLang
      description: CMS預覽使用取得Temp的PageInfo
      tags:
        - Preview
    parameters:
      - schema:
          type: string
        name: page_id
        in: path
        required: true
        description: 頁面代碼
  /Preview/SiteMap:
    get:
      summary: GetPreviewSiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteMapGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      operationId: get-Preview-SiteMap
      description: 取得預覽全部網站的SiteMap節點樹
      tags:
        - Preview
    parameters: []
  '/Preview/Compare/{page_id}':
    get:
      summary: GetPreviewCompareInfo
      tags:
        - Preview
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      operationId: get-Preview-Compare
      description: 取得預覽時差異資訊
    parameters:
      - schema:
          type: string
        name: page_id
        in: path
        required: true
        description: 頁面代碼
  '/SiteMap/Download/{format}':
    get:
      summary: DownloadSiteMap
      tags:
        - Garden
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/xml:
              schema:
                type: string
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: get-SiteMap-Download
      description: 下載SiteMap
    parameters:
      - schema:
          type: string
          enum:
            - Google
        name: format
        in: path
        required: true
        description: 下載格式
  '/Content/{content_id}':
    get:
      summary: GetContentInfo
      tags:
        - Garden
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      operationId: get-Content
      description: 取得編輯JSON內容
    parameters:
      - schema:
          type: string
        name: content_id
        in: path
        required: true
        description: Content代碼
  '/Preview/Content/{content_id}':
    get:
      summary: GetPreviewContent
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      operationId: get-Preview-Content
    parameters:
      - schema:
          type: string
        name: content_id
        in: path
        required: true
        description: 內容代碼
  '/DataSource/{type_id}/{id}':
    parameters:
      - schema:
          type: string
        name: type_id
        in: path
        required: true
      - schema:
          type: string
        name: id
        in: path
        required: true
      - schema:
          type: number
        name: pageSize
        in: query
        required: false
    get:
      summary: ListDataSourceData
      tags:
        - Garden
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDataSourceDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ./cms-apis.v1.yaml#/components/schemas/ErrorInfo
        '500':
          description: Internal Server Error
      operationId: get-typeID-data-id
      description: 依照不同資料來源取得實際Raw Data
      parameters:
        - schema:
            type: number
          in: query
          name: page
  /FullSearch:
    get:
      summary: ListFullSearch
      tags:
        - FullSearch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullSearchGetResponse'
            application/xml:
              schema:
                type: object
                properties: {}
      operationId: get-FullSearch
      parameters:
        - schema:
            type: string
          in: query
          name: keyword
          required: true
          description: 關鍵字
        - schema:
            type: string
          in: query
          name: type
          description: '查詢分類: qa, news....'
        - schema:
            type: string
          in: query
          name: pageSize
          description: 單頁筆數，預設10筆
        - schema:
            type: string
          in: query
          name: page
          description: 查詢頁數
      description: 取得全文檢索資料
  /ShortCut:
    get:
      summary: ShortCut
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortCutResponse'
      operationId: get-ShortCut
      description: 快捷
  '/NewsDetail/{news_id}':
    parameters:
      - schema:
          type: string
        name: news_id
        in: path
        required: true
    get:
      summary: News Detail
      tags:
        - News
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsDetailResponse'
      operationId: get-NewsDetail-news_id
      description: 最新消息內頁
  '/Dynamic/{func_id}/{category}/{data_id}':
    parameters:
      - schema:
          type: string
          example: news
        name: func_id
        in: path
        required: true
        description: farm功能
      - schema:
          type: string
          example: '3'
        name: category
        in: path
        required: true
        description: 功能的分類
      - schema:
          type: string
          example: '5'
        name: data_id
        in: path
        required: true
        description: 資料ID
    get:
      summary: DynamicInfo
      tags:
        - Garden
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicInfoResponse'
      operationId: get-Dynamic-Info
      description: 用於內頁資料，取得內頁的meta資訊、node_parent及content json
components:
  schemas:
    PageInfoGetResponse:
      title: PageInfoGetResponse
      type: object
      x-tags:
        - Model
      description: 傳入content_path後取得頁面相關資訊
      properties:
        layout_id:
          type: string
          description: 主結構代碼(需對應前端套版)
        meta_title:
          type: string
          description: SEO標題
        meta_description:
          type: string
          description: SEO描述
        meta_keyword:
          type: string
          description: SEO關鍵字
        meta_image:
          type: string
          description: SEO分享圖
        content_id:
          type: string
          description: 內文ContentID
        lang:
          type: string
          description: 語系
        node_root:
          type: string
          description: Sitemap根節點
        node_parent:
          type: string
          description: 上層節點
        domain:
          type: string
          description: 官網domain
      required:
        - meta_title
        - lang
        - node_root
    ErrorInfo:
      title: ErrorInfo
      type: object
      properties:
        error_code:
          type: string
        error_message:
          type: string
      required:
        - error_code
        - error_message
      x-tags:
        - Model
    LanguageInfo:
      title: LanguageInfo
      type: object
      description: ''
      properties:
        language_id:
          type: string
          description: 語言ID
          example: zh-TW
        language_name:
          type: string
          description: 語言名稱
          example: 中文
        blocks:
          type: array
          description: 區塊
          items:
            $ref: '#/components/schemas/ContentBlockInfo'
      required:
        - language_id
        - language_name
        - blocks
      x-tags:
        - Model
    ContentInfo:
      title: ContentInfo
      type: object
      x-tags:
        - Model
      properties:
        languages:
          type: array
          items:
            $ref: '#/components/schemas/LanguageInfo'
        galleries:
          type: array
          description: 使用的媒體庫檔案ID
          items:
            type: string
    ContentTemplateInfo:
      title: ContentTemplateInfo
      type: object
      x-tags:
        - Model
      description: ''
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        templateId:
          type: string
          description: 版型代碼
        fields:
          type: array
          description: 版型中的欄位
          items:
            $ref: '#/components/schemas/ContentFieldInfo'
        attributes:
          type: object
          description: 做Extension使用
      required:
        - id
        - templateId
        - fields
        - attributes
    ContentFieldInfo:
      title: ContentFieldInfo
      type: object
      x-tags:
        - Model
      properties:
        fieldId:
          type: string
          description: 欄位代碼
        fieldType:
          type: string
          description: 欄位型態
          enum:
            - TEXT
            - TEXTAREA
            - LINK
            - IMG
            - BGIMG
            - HTMLDETAIL
        fieldVal:
          type: string
          description: 屬性值
        extension:
          type: object
          description: 用來extension使用
      required:
        - fieldId
        - fieldType
        - fieldVal
        - extension
    DepartmentDetailInfo:
      title: DepartmentDetailInfo
      type: object
      x-tags:
        - Model
      properties:
        dept_id:
          type: string
        dept_name:
          type: string
      required:
        - dept_id
        - dept_name
    SiteMapGetResponse:
      type: object
      title: SitemapGetResponse
      x-tags:
        - Model
      description: ''
      properties:
        sites:
          type: array
          items:
            $ref: '#/components/schemas/SiteInfo'
    ListDataSourceDataResponse:
      title: ListDataSourceDataResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            type: string
        page_info:
          $ref: '#/components/schemas/PageInfo'
      required:
        - datas
        - pageInfo
    PageInfo:
      title: PageInfo
      type: object
      properties:
        total_page_size:
          type: number
          description: 總頁數
        total_rec_size:
          type: number
          description: 總筆數
        page:
          type: number
          description: 目前頁數
      required:
        - totalPageSize
        - totalRecSize
        - page
    NewsInfo:
      title: NewsInfo
      type: object
      x-tags:
        - Model
      properties:
        id:
          type: string
          description: 最新消息代碼
        title:
          type: string
          description: 標題
        start_date:
          type: string
          description: 日期
        url:
          type: string
          description: 網址(內頁的話連結至官網內頁或自己外連網址)
        url_blank:
          type: boolean
          description: 是否另開分頁
      required:
        - id
        - title
        - start_date
        - url
    QaInfo:
      title: QaInfo
      type: object
      x-tags:
        - Model
      properties:
        id:
          type: string
          description: 問題流水號
        question:
          type: string
          description: 問題
        answer:
          type: string
          description: HTML
      required:
        - id
        - question
        - answer
    SlideInfo:
      title: SlideInfo
      type: object
      x-tags:
        - Model
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        url:
          type: string
        url_blank:
          type: boolean
          description: 是否另開分頁
        picture:
          type: string
      required:
        - id
        - title
        - url
        - picture
    DownloadInfo:
      title: DownloadInfo
      type: object
      x-tags:
        - Model
      properties:
        id:
          type: string
        title:
          type: string
        url:
          type: string
      required:
        - id
        - title
        - url
    SiteInfo:
      title: SiteInfo
      type: object
      properties:
        siteId:
          type: string
          description: 網站ID
        siteMap:
          type: array
          items:
            $ref: '#/components/schemas/SiteMapInfo'
    SiteMapInfo:
      title: SiteMapInfo
      type: object
      properties:
        node_id:
          type: string
          description: 節點流水號
        languages:
          type: array
          items:
            $ref: '#/components/schemas/SiteMapLanguageInfo'
        url:
          type: string
          description: |-
            URL站外網址
            有url_type為OUTSIDE才有
        url_blank:
          type: string
          enum:
            - 'Y'
            - 'N'
          description: URL是否另開視窗
        children:
          type: array
          items:
            $ref: '#/components/schemas/SiteMapInfo'
        content_id:
          type: string
          description: Content代碼
        content_path:
          type: string
          description: ''
        is_mega_menu:
          type: boolean
          description: 'true'
        device:
          type: string
          description: 哪些裝置可讀取，多裝置由逗號分開
          example: 'pc,mobile,pad'
    SiteMapLanguageInfo:
      title: SiteMapLanguageInfo
      type: object
      properties:
        language_id:
          type: string
        node_name:
          type: string
          description: 節點名稱
    ContentBlockInfo:
      title: ContentBlockInfo
      type: object
      x-tags:
        - Model
      properties:
        block_id:
          type: string
        templates:
          type: array
          items:
            $ref: '#/components/schemas/ContentTemplateInfo'
      required:
        - block_id
        - templates
    FullSearchGetResponse:
      title: FullSearchGetResponse
      type: object
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/FullSearchInfo'
        page_info:
          $ref: '#/components/schemas/PageInfo'
        types:
          type: array
          items:
            $ref: '#/components/schemas/FullSearchTypeInfo'
      required:
        - page_info
      description: ''
    FullSearchTypeInfo:
      title: FullSearchTypeInfo
      type: object
      properties:
        type_id:
          type: string
          description: 類別代號
        type_name:
          type: string
          description: 類別名稱
        type_total_rec_size:
          type: string
          description: 類別資料數
    FullSearchInfo:
      title: FullSearchInfo
      type: object
      description: |
        全文檢索資料
      properties:
        id:
          type: string
        title:
          type: string
          description: 資料標題
        description:
          type: string
          description: 檢索資料描述
        url:
          type: string
          description: 連結頁面
        type_id:
          type: string
          description: 資料類型
      required:
        - id
        - title
        - url
    ResponseHeader:
      title: ResponseHeader
      type: object
      properties:
        code:
          type: string
          description: 回應碼(0：代表正常)
          example: '0'
        message:
          type: string
          description: 回應訊息(當code不為0會放入錯誤訊息)
          example: 傳入參數錯誤
      required:
        - code
      x-tags:
        - Model
    ShortCutResponse:
      title: ShortCutResponse
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ResponseHeader'
        datas:
          type: array
          items:
            $ref: '#/components/schemas/ShortCutObject'
      required:
        - header
        - datas
      x-tags:
        - Model
    ShortCutObject:
      title: ShortCutObject
      type: object
      properties:
        title:
          type: string
          description: 標題
          example: 表單下載
        icon_url:
          type: string
          description: icon連結
          example: resource/xxx.png
        url:
          type: string
          description: 連結
          example: 'http://google.com.tw'
        url_blank:
          type: boolean
          description: 連結是否另開分頁
      required:
        - title
        - icon_url
        - url
        - url_blank
      description: ''
      x-tags:
        - Model
    DetailObject:
      title: DetailObject
      type: object
      properties:
        content_id:
          type: string
          description: 內容代碼
          example: '1'
        content_json:
          type: string
          description: 內容（json格式）
          example: '{}'
      required:
        - content_id
        - content_json
      x-tags:
        - Model
    NewsDetailResponse:
      title: NewsDetailResponse
      type: object
      properties:
        header:
          $ref: '#/components/schemas/ResponseHeader'
        data:
          $ref: '#/components/schemas/DetailObject'
      x-tags:
        - Model
    DynamicInfoResponse:
      title: DynamicInfoResponse
      type: object
      properties:
        page_info:
          $ref: '#/components/schemas/PageInfoGetResponse'
        content_json:
          type: string
          description: content內文json
tags:
  - name: FullSearch
  - name: News
  - name: Garden