/* You can add global styles to this file, and also import other style files */

@import "~@neux/ui/theme/theme-all";
@import "~@neux/ui/theme/config-all";
@import '~@neux/ui/global/style-import-app-global';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  @include on-event($conf:(self:true)) {
    color: inherit;
  }
}

.router-active {
  background-color: rgba(255, 255, 255, 0.6);
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: lightgray;
  padding: 10px;
}



button,
.pointer {
  cursor: pointer;
}

mat-form-field {
  width: 100%;
}

.p-10 {
  padding: 10px !important;
}

.page-title-container {
  @extend .p-10;
  border-bottom: 1px solid lightgray;

  h1 {
    margin-bottom: 0;
  }
}

.page-content-container {
  @extend .p-10;
}

:disabled,
[disabled] {
  cursor: not-allowed !important;
}

.btn-group {
  >button:not(:first-child) {
    margin-left: 20px;
  }
}

.cms-resizer:hover {
  border-right: 5px solid lightgray;
}

.cms-sitemap-edit-content-modal mat-dialog-container {
  padding: 0 !important;
}

.cdk-overlay-pane {
  overflow: auto;
}

.mat-paginator-container {
  justify-content: center !important;
}
