/* You can add global styles to this file, and also import other style files */

@import "~@neux/ui/component-customizing-mixins/theme-all";
@import "~@neux/ui/component-customizing-mixins/config-all";
@import '~@neux/ui/tool-mixins/style-import-app-global';
@import '../projects/cms-lib/src/lib/global/style/main';

@include custom-reset();


.router-active {
  &:before {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  background-color: $sidenav-actived-item-bg;
}


.dark-style {
  background: $dark-style-bg;
  color: $color-white;

  *[disabled="true"] {
    color: #6d6d6d !important;
  }
}

mat-form-field {
  width: 100%;
}

.cms-resizer:hover {
  border-right: 5px solid lightgray;
}

.cms-sitemap-edit-content-modal mat-dialog-container {
  padding: 0 !important;
}

.cdk-overlay-pane {
  overflow: auto;
}

.mat-paginator-container {
  justify-content: center !important;
}
