openapi: 3.0.0
info:
  title: CMS Backend API
  version: '4.0'
  description: Provider CMS Backend communication API
  license:
    name: neux-garden
servers:
  - url: 'http://cms.decoder.com.tw'
paths:
  '/Gallery/{categoryID}':
    get:
      summary: GetGallery
      tags:
        - Gallery
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-gallery
      description: 顯示該目錄底下的媒體清單
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: number
            default: 1
            minimum: 1
          in: query
          name: page
    parameters:
      - schema:
          type: string
        name: categoryID
        in: path
        required: true
  /GalleryCategory:
    get:
      summary: GetGalleryCategory
      tags:
        - Gallery
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryCaregoryGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-GalleryCategory
      description: 顯示該使用者可看到哪些媒體庫目錄
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
    parameters: []
    post:
      summary: CreateGalleryCategory
      operationId: post-GalleryCategory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 建立媒體庫目錄
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryCategoryPutRequest'
      tags:
        - Gallery
  /Login:
    post:
      summary: Login
      operationId: post-Login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      tags:
        - Authorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
      description: 登入CMS
    parameters: []
  /Department:
    get:
      summary: GetDepartment
      tags:
        - System
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Dept
      description: 顯示所有部門樹狀結構
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          required: true
          description: application/json
    parameters: []
  '/GalleryCategory/{categoryID}':
    parameters:
      - schema:
          type: string
        name: categoryID
        in: path
        description: ''
        required: true
    delete:
      summary: DeleteGalleryCategory
      operationId: delete-GalleryCategory-categoryID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - Gallery
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
      description: 刪除媒體目錄
    put:
      summary: UpdateGalleryCategory
      operationId: put-GalleryCategory-categoryID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - Gallery
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryCategoryPutRequest'
        description: ''
      description: 用於更新目錄名稱/移動父層使用
  /UserMenu:
    get:
      summary: GetLoginUserCMSMenu
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-UserMenu
      description: 取得User登入可存取的CMSMenu
      tags:
        - Menu
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
    parameters: []
  /Logout:
    get:
      summary: Logout
      tags:
        - Authorization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '500':
          description: Internal Server Error
      operationId: get-Logout
      description: 登出CMS
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
  '/Department/{deptID}':
    parameters:
      - schema:
          type: string
        name: deptID
        in: path
        required: true
    put:
      summary: UpdateDepartment
      operationId: put-Department-deptID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 更新部門節點
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentMaintainRequest'
      tags:
        - System
    delete:
      summary: DeleteDepartment
      operationId: delete-Department-deptID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 刪除部門節點
      tags:
        - System
    post:
      summary: CreateDepartment
      operationId: post-Department-deptID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 顯示所有部門樹狀結構
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentMaintainRequest'
      tags:
        - System
    get:
      summary: GetDepartmentInfo
      operationId: get-Department-deptID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentDetailInfo'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - System
      description: 取得部門節點
  /Auditing:
    get:
      summary: GetAuditingList
      tags:
        - Auditing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditingGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Auditing
      description: 取得主管待審清單
      parameters:
        - schema:
            type: number
            default: 1
            minimum: 1
          in: query
          name: page
          description: 沒有傳入預設就是1
    parameters: []
  '/Auditing/{orderID}':
    parameters:
      - schema:
          type: number
        name: orderID
        in: path
        required: true
        description: ''
    post:
      summary: ApproveAuditing
      operationId: post-Auditing-orderID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 主管簽核
      tags:
        - Auditing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditingSubmitRequest'
  /LoginInfo:
    get:
      summary: GetLoginInfo
      tags:
        - Authorization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-LoginInfo
      description: 取得登入者資料
  '/CMSSiteMap/{siteID}':
    get:
      summary: GetCMSSiteMap
      tags:
        - SiteMap
      operationId: get-SiteMap
      description: 取得全站SiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteMapGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
    parameters:
      - schema:
          type: string
        name: siteID
        in: path
        required: true
        description: 網站代碼
  /CMSMenu:
    get:
      summary: GetCMSAllMenu
      tags:
        - Menu
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuGetResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-CMSMenu
      description: 取得CMS所有功能清單
  '/UserSiteMap/{siteID}':
    get:
      summary: GetUserSiteMap
      tags:
        - SiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteMapGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-UserSiteMap
      description: 取得登入者可存取SiteMap
    post:
      summary: CreateSiteNode
      operationId: post-UserSiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - SiteMap
      description: 建立節點
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSiteMapPostRequest'
        description: ''
    parameters:
      - schema:
          type: string
        name: siteID
        in: path
        required: true
        description: 網站代碼
  '/UserSiteMap/{nodeID}':
    put:
      summary: UpdateUserSiteMap
      operationId: put-UserSiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: 更新節點
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSiteMapPutRequest'
      tags:
        - SiteMap
    parameters:
      - schema:
          type: string
        name: nodeID
        in: path
        required: true
    delete:
      summary: DeleteUserSiteMap
      operationId: delete-UserSiteMap-nodeID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - SiteMap
  '/Content/{contentID}':
    get:
      summary: GetContent
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Content
      description: 取得該頁面的Content JSON
    put:
      summary: UpdateContent
      operationId: put-Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentInfo'
      description: 更新Content JSON資料
    parameters:
      - schema:
          type: string
        name: contentID
        in: path
        required: true
  '/MyAuditing/{orderID}':
    get:
      summary: GetMyAuditingDetail
      tags:
        - Auditing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyAuditingDetailGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-MyAuditingDetail
      description: 取得我的申請單明細資料
    parameters:
      - schema:
          type: string
        name: orderID
        in: path
        required: true
  /MyAuditing:
    get:
      summary: GetMyAuditing
      tags:
        - Auditing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyAuditingGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-MyAuditing
      description: 取得我的申請單資料
      parameters:
        - schema:
            type: number
          in: query
          name: page
          description: 沒有傳入預設帶入1
  '/Farm/{funcID}':
    get:
      summary: GetFarmInfo
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmInfoGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Farm
      description: 客製化網站管理取得整頁資訊
      parameters: []
    parameters:
      - schema:
          type: string
        name: funcID
        in: path
        required: true
        description: 功能代碼
  '/FarmTableInfo/{funcID}':
    get:
      summary: GetFarmTableInfo
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmTableInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-FarmTableInfo
      description: 點了換頁或搜尋時呼叫
      parameters:
        - schema:
            type: number
          in: query
          name: page
          description: 第幾頁
    parameters:
      - schema:
          type: string
        name: funcID
        in: path
        required: true
        description: 功能代碼
  '/FarmFormInfo/{funcID}':
    get:
      summary: GetFarmFormInfo
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmFormInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-FarmFormInfo
      description: 新增/修改時呼叫
      parameters:
        - schema:
            type: string
          in: query
          name: dataID
          required: true
          description: 帶入TableDataInfo.data_id
    parameters:
      - schema:
          type: string
        name: funcID
        in: path
        required: true
        description: 功能代碼
    post:
      summary: CreateFarmForm
      operationId: post-FarmFormInfo-funcID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - Farm
      description: 建立一筆網站管理資料
      parameters:
        - schema:
            type: string
            example: ''
          in: header
          name: content-type
          description: multipart/form-data
          required: true
    put:
      summary: UpdateFarmForm
      operationId: put-FarmFormInfo-funcID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationHeader'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      tags:
        - Farm
      description: 更新網站管理一筆資料
      parameters:
        - schema:
            type: string
          in: query
          name: dataID
          required: true
          description: 帶入TableDataInfo.data_id
        - schema:
            type: string
            example: ''
          in: header
          name: content-type
          required: true
          description: multipart/form-data
  '/FarmDetailInfo/{farmID}':
    get:
      summary: GetFarmDetailInfo
      tags:
        - Farm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmFormInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-FarmDetailInfo
      description: 取得某筆資料明細
      parameters:
        - schema:
            type: string
          in: query
          name: dataID
          required: true
          description: 帶入TableDataInfo.data_id
    parameters:
      - schema:
          type: string
        name: farmID
        in: path
        required: true
        description: 功能代碼
  /Site:
    get:
      summary: GetSiteList
      tags:
        - SiteMap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Site
      description: 取得多個網站清單
  '/Group/Menu/{groupID}':
    get:
      summary: GetGroupMenuList
      tags:
        - System
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMenuGetResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Group-Menu
      description: 取得群組設定的後台功能
    parameters:
      - schema:
          type: string
        name: groupID
        in: path
        required: true
  '/Group/SiteMap/{groupID}':
    get:
      summary: GetGroupSiteMapList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSiteMapGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Group-SiteMap
      tags:
        - System
      description: 取得群組設定的前台功能
    parameters:
      - schema:
          type: string
        name: groupID
        in: path
        required: true
  '/Template/{controlID}':
    get:
      summary: GetTemplate
      tags:
        - Content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: get-Template
      description: 取得編輯器所需的版型清單
    parameters:
      - schema:
          type: string
        name: controlID
        in: path
        required: true
        description: 依照這個參數區分這次編輯時可以使用哪些版型，在節點管理中則帶入layout_id，網站管理的話會多一個欄位來控制controlid
components:
  schemas:
    LoginRequest:
      title: LoginRequest
      type: object
      x-tags:
        - Model
      properties:
        username:
          type: string
          description: 帳號
        password:
          type: string
          description: 密碼
        validation_code:
          type: number
          description: 圖形驗證碼
      required:
        - username
        - password
        - validation_code
    GenerationHeader:
      title: GenerationHeader
      type: object
      x-tags:
        - Model
      properties:
        success:
          description: 成功或失敗
          type: boolean
      required:
        - success
    LoginResponse:
      title: LoginResponse
      type: object
      x-tags:
        - Model
      properties:
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
      required:
        - loginInfo
    LoginInfo:
      title: LoginInfo
      type: object
      properties:
        user_id:
          type: string
          description: 登入帳號
        user_name:
          type: string
          description: 登入者姓名
        dept_id:
          type: string
          description: 部門代碼
      required:
        - user_id
        - user_name
        - dept_id
      x-tags:
        - Model
    MenuGetResponse:
      title: MenuGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/MenuInfo'
    MenuInfo:
      title: MenuInfo
      type: object
      properties:
        func_id:
          type: string
          example: sitemanagement
          description: 功能代碼
        func_name:
          type: string
          example: 節點管理
          description: 功能名稱
        component_id:
          type: string
          description: 元件代碼
        children:
          type: array
          description: 下層功能
          items:
            $ref: '#/components/schemas/MenuInfo'
      required:
        - func_id
        - func_name
        - children
      x-tags:
        - Model
    GalleryCaregoryGetResponse:
      title: GalleryCaregoryGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/GalleryCategoryInfo'
    GalleryCategoryInfo:
      title: GalleryCategoryInfo
      type: object
      properties:
        category_id:
          type: string
          example: '1'
          description: 目錄代碼
        category_name:
          type: string
          example: 個資相關PDF
          description: 目錄名稱
        can_upload:
          type: boolean
          example: 'true'
          description: 是否能上傳至該目錄
        children:
          type: array
          description: 子層目錄
          items:
            $ref: '#/components/schemas/GalleryCategoryInfo'
      required:
        - category_id
        - category_name
        - can_upload
      x-tags:
        - Model
    GalleryCategoryPushResponse:
      title: GalleryCategoryPushResponse
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GenerationHeader'
        body:
          $ref: '#/components/schemas/GalleryCategoryInfo'
      x-tags:
        - Model
    GalleryGetResponse:
      title: GalleryGetResponse
      type: object
      x-tags:
        - Model
      properties:
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        datas:
          type: array
          items:
            $ref: '#/components/schemas/GalleryInfo'
    GalleryInfo:
      title: GalleryInfo
      type: object
      properties:
        gallery_id:
          type: number
          description: 媒體代碼
        file_name:
          type: string
          example: sample-1.png
          description: 檔名
        size:
          type: string
          description: 檔案大小(單位：kb)
          example: '350'
        file_type:
          type: string
          enum:
            - PDF
            - DOC
            - DOCX
            - XLS
            - XLSX
            - PNG
            - JPG
            - JPEG
            - GIF
          description: 檔案類型
        create_time:
          type: string
          format: date-time
          example: '2020-04-30 15:00:00'
          description: 檔案建立時間
      required:
        - gallery_id
        - file_name
        - size
        - file_type
        - create_time
      x-tags:
        - Model
    PageInfo:
      title: PageInfo
      type: object
      x-tags:
        - Model
      properties:
        totalPageSize:
          type: number
          description: 總頁數
        totalRecSize:
          type: number
          description: 總筆數
        page:
          type: number
          description: 目前頁數
    DepartmentInfo:
      title: DepartmentInfo
      type: object
      description: ''
      x-tags:
        - Model
      properties:
        dept_id:
          type: string
          description: 部門代碼
        dept_name:
          type: string
          description: 部門名稱
        children:
          type: array
          description: 子層部門
          items:
            $ref: '#/components/schemas/DepartmentInfo'
      required:
        - dept_id
        - dept_name
        - children
    DepartmentGetResponse:
      title: DepartmentGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/DepartmentInfo'
    DepartmentMaintainRequest:
      title: DepartmentMaintainRequest
      type: object
      description: ''
      properties:
        dept_name:
          type: string
          description: 部門名稱
        parent_id:
          type: string
          description: 上層部門(若為第一層不需傳值)
      required:
        - dept_name
      x-tags:
        - Model
    GalleryCategoryPutRequest:
      title: GalleryCategoryPutRequest
      type: object
      properties:
        category_name:
          type: string
          description: 目錄名稱
        parent_id:
          type: string
          description: 上層代碼(若為第一層不需傳值)
        assign_dept_id:
          type: string
          description: |-
            指定給哪些部門使用(新增需帶入登入者部門且不能取消)

            多個部門用半形(,)逗點分開
      required:
        - category_name
        - assign_dept_id
      x-tags:
        - Model
    AuditingInfo:
      title: AuditingInfo
      type: object
      x-tags:
        - Model
      properties:
        order_id:
          type: number
          description: 審核單號
        order_name:
          type: string
          description: 審核單名稱
        version:
          type: number
          description: 資料版本
        start_time:
          type: string
          format: date-time
          description: 上架時間
        end_time:
          type: string
          format: date-time
          description: 下架時間
        submit_comment:
          type: string
          description: 送審意見
        create_name:
          type: string
          description: 送審姓名
      required:
        - order_id
        - order_name
        - version
        - start_time
        - end_time
        - create_name
    AuditingGetResponse:
      title: AuditingGetResponse
      type: object
      x-tags:
        - Model
      properties:
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        datas:
          type: array
          items:
            $ref: '#/components/schemas/AuditingInfo'
    MyAuditingDetailInfo:
      title: MyAuditingDetailInfo
      type: object
      properties:
        auditing_group_name:
          type: string
          description: 簽核群組名稱
        auditing_stage:
          type: number
          description: 簽核階段
        auditing_name:
          type: string
          description: 簽核主管姓名
        auditing_dept_name:
          type: string
          description: 簽核部門名稱
        status:
          type: string
          description: 簽核狀態
        auditing_time:
          type: string
          format: date-time
          description: 簽核時間
        auditing_comment:
          type: string
          description: 簽核意見
      required:
        - auditing_group_name
        - auditing_stage
      x-tags:
        - Model
    MyAuditingDetailGetResponse:
      title: MyAuditingDetailGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/MyAuditingDetailInfo'
    AuditingSubmitRequest:
      title: AuditingSubmitRequest
      type: object
      properties:
        status:
          type: string
          enum:
            - REJECT
            - APPROVED
          description: 審核結果
        comment:
          type: string
          description: 審核意見
      required:
        - status
      x-tags:
        - Model
    SiteMapInfo:
      title: SiteMapInfo
      type: object
      x-tags:
        - Model
      properties:
        node_id:
          type: string
          description: 節點流水號
        node_name:
          type: string
          description: 節點名稱
        layout_id:
          type: string
          description: 模版代碼
        node_type:
          type: string
          enum:
            - URL
            - CONTENT
          description: 節點類型
        url_type:
          type: string
          enum:
            - INSIDE
            - OUTSIDE
          description: URL類型
        url_link_node_id:
          type: string
          description: |-
            URL站內節點
            有url_type為INSIDE才有
        url:
          type: string
          description: |-
            URL站外網址
            有url_type為OUTSIDE才有
        url_blank:
          type: string
          enum:
            - 'Y'
            - 'N'
          description: URL是否另開視窗
        content_path:
          type: string
          description: 節點連結路徑
        meta_title:
          type: string
          description: SEO-Meta標題
        meta_description:
          type: string
          description: SEO-Meta描述
        meta_keyword:
          type: string
          description: SEO-Meta關鍵字
        meta_image:
          type: string
          description: SEO-Meta縮圖
        version:
          type: string
          description: 資料版本
        canModify:
          type: boolean
          description: 是否能修改
        canSubmit:
          type: boolean
          description: 是否能送審
        create_by:
          type: string
        create_time:
          type: string
        update_by:
          type: string
        update_time:
          type: string
        publish_info:
          $ref: '#/components/schemas/PublishInfo'
        children:
          type: array
          items:
            $ref: '#/components/schemas/SiteMapInfo'
      required:
        - node_id
        - node_name
        - meta_title
        - canModify
        - canSubmit
        - create_by
        - create_time
        - update_by
        - update_time
    PublishInfo:
      title: PublishInfo
      type: object
      properties:
        draft:
          type: object
          properties:
            start_time:
              type: string
              format: date
              example: '2020-01-01'
            end_time:
              type: string
              format: date
              example: '2020-01-01'
        pending_published:
          type: object
          properties:
            start_time:
              type: string
              format: date
              example: '2020-01-01'
            end_time:
              type: string
              format: date
              example: '2020-01-01'
        published:
          type: object
          properties:
            start_time:
              type: string
              format: date
              example: '2020-01-01'
            end_time:
              type: string
              format: date
              example: '2020-01-01'
      x-tags:
        - Model
    SiteMapGetResponse:
      title: SiteMapGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/SiteMapInfo'
    UserSiteMapPutRequest:
      title: UserSiteMapPutRequest
      type: object
      properties:
        node_name:
          type: string
        node_orders:
          type: string
        parent_id:
          type: string
        url_type:
          type: string
        url_link_node_id:
          type: string
        url:
          type: string
        url_blank:
          type: string
        content_path:
          type: string
        meta_title:
          type: string
        meta_description:
          type: string
        meta_keyword:
          type: string
        meta_image:
          type: string
      required:
        - node_name
        - node_orders
        - meta_title
      x-tags:
        - Model
    UserSiteMapPostRequest:
      title: UserSiteMapPostRequest
      type: object
      properties:
        node_name:
          type: string
        layout_id:
          type: string
        parent_id:
          type: string
        node_type:
          type: string
        url_type:
          type: string
        url_link_node_id:
          type: string
        url:
          type: string
        url_blank:
          type: string
        content_path:
          type: string
        meta_title:
          type: string
        meta_description:
          type: string
        meta_keyword:
          type: string
        meta_image:
          type: string
      required:
        - node_name
        - meta_title
      x-tags:
        - Model
    ErrorInfo:
      title: ErrorInfo
      type: object
      x-tags:
        - Model
      properties:
        error_code:
          type: string
          description: 錯誤碼
        error_message:
          type: string
          description: 錯誤訊息
      required:
        - error_code
        - error_message
    MyAuditingGetResponse:
      title: MyAuditingGetResponse
      type: object
      properties:
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        datas:
          type: array
          items:
            $ref: '#/components/schemas/MyAuditingInfo'
      x-tags:
        - Model
    MyAuditingInfo:
      title: MyAuditingInfo
      type: object
      properties:
        order_id:
          type: number
        order_name:
          type: string
        status:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        version:
          type: string
      required:
        - order_id
        - order_name
        - status
        - start_time
        - end_time
        - version
      x-tags:
        - Model
    FarmFormInfo:
      title: FarmFormInfo
      type: object
      description: Search & Form共用的物件
      x-tags:
        - Model
      properties:
        split_size:
          type: number
          description: 控制一列多少欄
        columns:
          type: array
          description: 欄位資料
          items:
            type: object
            properties:
              display_text:
                type: string
                description: 欄位顯示名稱
              display_type:
                type: string
                description: 欄位顯示類型
                enum:
                  - TEXT
                  - TEXTAREA
                  - SELECT
                  - RADIO
                  - CHECKBOX
                  - DATE
                  - GALLERY
                  - EDITOR
                  - HTMLEDITOR
                  - DATETIME
                  - TREE
                  - LABEL
              options:
                type: array
                description: 選單類內容
                items:
                  $ref: '#/components/schemas/FarmOptionInfo'
              value:
                type: string
                description: 欄位值
              max_length:
                type: number
                description: 最大長度(只有TEXT跟TEXTAREA才有)
              placeholder:
                type: string
                description: 欄位背景說明(只有TEXT / TEXTAREA才有)
              column_id:
                type: string
                description: 視為input的name
              is_readonly:
                type: boolean
              triggers:
                type: array
                items:
                  $ref: '#/components/schemas/FarmTriggerInfo'
            required:
              - display_text
              - display_type
              - column_id
              - is_readonly
        validation:
          $ref: '#/components/schemas/FarmValidationInfo'
      required:
        - split_size
    FarmOptionInfo:
      title: FarmOptionInfo
      type: object
      x-tags:
        - Model
      properties:
        value:
          type: string
        text:
          type: string
      required:
        - value
        - text
      description: 選單類內容物件
    FarmTriggerInfo:
      title: FarmTriggerInfo
      type: object
      description: 控制表單連動物件
      properties:
        trigger_type:
          type: string
          description: |-
            驅動類型：

            DataTrigger∶資料連動類型，驅動後需呼叫後台API取得option放入trigger_target。

            EnableTrigger：顯示連動，把trigger_target欄位顯示出來

            ReadOnlyTrigger：Readonly連動，把trigger_target欄位改為ReadOnly屬性
          enum:
            - DATATRIGGER
            - ENABLETRIGGER
            - READONLYTRIGGER
            - REQUIRETRIGGER
        trigger_target:
          type: array
          description: 放哪些欄位「被連動」
          minItems: 1
          items:
            type: string
        trigger_setting:
          type: object
          description: |-
            依照不同的Trigger_type有不同的物件。

            當Trigger_Type時會放：
            trigger_id = xxx
      required:
        - trigger_type
        - trigger_target
      x-tags:
        - Model
    FarmValidationInfo:
      title: FarmValidationInfo
      type: object
      description: ''
      properties:
        required:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Field ID
              setting:
                type: object
            required:
              - id
        email:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              setting:
                type: object
            required:
              - id
        alphanumeric:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              setting:
                type: object
            required:
              - id
        number:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              setting:
                type: object
            required:
              - id
        range:
          type: array
          items:
            type: object
            properties:
              start_column:
                type: string
              end_column:
                type: string
            required:
              - start_column
              - end_column
      x-tags:
        - Model
    FarmTableInfo:
      title: FarmTableInfo
      type: object
      description: 基本表格物件
      x-tags:
        - Model
      properties:
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        can_create:
          type: boolean
        can_checkbox:
          type: boolean
        datas:
          type: array
          items:
            $ref: '#/components/schemas/FarmTableDataInfo'
      required:
        - pageInfo
        - can_create
        - can_checkbox
    FarmTableDataInfo:
      title: FarmTableDataInfo
      type: object
      x-tags:
        - Model
      properties:
        data_id:
          type: string
          description: 每一筆Raw的唯一值
        is_checked:
          type: boolean
          description: 該筆是否已勾選
        columns:
          type: array
          items:
            type: object
            properties:
              display_type:
                type: string
                enum:
                  - LABEL
                  - LINK
                description: 顯示類型
              value:
                type: string
                description: 顯示值
              display_text:
                type: string
                description: 顯示標題
              actions:
                type: array
                description: 該筆可以做的操作(action)
                items:
                  type: string
                  enum:
                    - MODIFY
                    - DELETE
                    - PUBLISH
                    - 'OFF'
                    - PREVIEW
                    - MORE
            required:
              - display_type
              - value
              - display_text
              - actions
      required:
        - data_id
        - is_checked
    FarmInfoGetResponse:
      title: FarmInfoGetResponse
      type: object
      x-tags:
        - Model
      properties:
        category:
          type: array
          description: 前台以tab方式區分不同資料分類
          items:
            type: object
            properties:
              searchInfo:
                $ref: '#/components/schemas/FarmFormInfo'
              tableInfo:
                $ref: '#/components/schemas/FarmTableInfo'
              category_name:
                type: string
                description: 帶入前台tab顯示名稱
              category_id:
                type: string
                description: 當如果該category點了更多，funcId帶入category_id
            required:
              - category_name
              - category_id
        detailInfo:
          $ref: '#/components/schemas/FarmFormInfo'
      required:
        - category
      description: ''
    ContentInfo:
      title: ContentInfo
      type: object
      x-tags:
        - Model
      properties:
        templates:
          type: array
          items:
            $ref: '#/components/schemas/ContentTemplateInfo'
    ContentTemplateInfo:
      title: ContentTemplateInfo
      type: object
      x-tags:
        - Model
      description: ''
      properties:
        id:
          type: string
          format: uuid
          description: UUID
        templateId:
          type: string
          description: 版型代碼
        fields:
          type: array
          description: 版型中的欄位
          items:
            $ref: '#/components/schemas/ContentFieldInfo'
        attributes:
          type: object
          description: 做Extension使用
      required:
        - id
        - templateId
        - fields
        - attributes
    ContentFieldInfo:
      title: ContentFieldInfo
      type: object
      x-tags:
        - Model
      properties:
        fieldId:
          type: string
          description: 欄位代碼
        fieldType:
          type: string
          description: 欄位型態
          enum:
            - TEXT
            - TEXTAREA
            - LINK
            - IMG
            - BGIMG
            - HTMLDETAIL
        fieldVal:
          type: string
          description: 屬性值
        extension:
          type: object
          description: 用來extension使用
      required:
        - fieldId
        - fieldType
        - fieldVal
        - extension
    DepartmentDetailInfo:
      title: DepartmentDetailInfo
      type: object
      x-tags:
        - Model
      properties:
        dept_id:
          type: string
        dept_name:
          type: string
      required:
        - dept_id
        - dept_name
    SiteInfo:
      title: SiteInfo
      type: object
      x-tags:
        - Model
      properties:
        site_id:
          type: string
        site_name:
          type: string
      required:
        - site_id
        - site_name
    SiteGetResponse:
      title: SiteGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: array
          items:
            $ref: '#/components/schemas/SiteInfo'
    GroupMenuGetResponse:
      title: GroupMenuGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: object
          required:
            - func_id
          properties:
            func_id:
              type: string
      required:
        - datas
    GroupSiteMapGetResponse:
      title: GroupSiteMapGetResponse
      type: object
      x-tags:
        - Model
      properties:
        datas:
          type: object
          required:
            - node_id
            - can_add
            - can_modify
            - can_delete
          properties:
            node_id:
              type: string
            can_add:
              type: boolean
            can_modify:
              type: boolean
            can_delete:
              type: boolean
      required:
        - datas
    TemplateGetResponse:
      title: TemplateGetResponse
      type: object
      x-tags:
        - Model
      properties:
        static:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfo'
        tab:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfo'
        dynamic:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfo'
        customize:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfo'
    TemplateInfo:
      title: TemplateInfo
      type: object
      x-tags:
        - Model
      properties:
        template_id:
          type: string
        template_name:
          type: string
        template_thumbnail:
          type: string
      required:
        - template_id
        - template_name
        - template_thumbnail
  securitySchemes: {}