
.text-center {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

#forkme_banner {
  background: url("./../assets/image/instruction/githubLogo.png") no-repeat 100%;
  background-size: contain;
  margin-top: 10px;
  box-shadow: none;
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #D6E3F0;
  padding: 0.25rem;
}

.back-to-top-link:hover{
  text-decoration: none;
  background-color: #c2def0;
}

.back-to-top-wrapper {
  position: fixed;
  z-index:1001;
  right: 30px;
  bottom: 30px;
  width: 3em;  
}

.inner {
  max-width:1000px;
}

.inner img {
  max-width:1000px;
}


#markdown-toc::before {
    font-weight: bold;
}

#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
    position: absolute;
    overflow-y: auto;
    margin-left: -350px;
}
